*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}
.logo_img{
    width: 120px;
}
.navlinks li a{
    text-decoration: none;
    color: #000;
}
.sin{
    width: 140px;
    height: 50px;
    background: #000;
    color: #fff;
    margin:12px 0px;
    border-radius: 30px;
}

.list li {
 list-style: none;
 margin: 30px;
}

.list {
  display: flex;

}
li a:hover {
    border-bottom:#2C7865 2px solid;
    transition: ease-in-out 1s;
}

/* styling container */
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('./pexels-asad-photo-maldives-3155644.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 42px;
    color: #fff;
}
#text{
    color: #2C7865;
}


/* countries to travel */
.countries{
    /* background-color: #2C7865; */
    margin-top: 100px;    
}
.main_text{
    text-align: center;
    font-size: 56px;
}
.para1{
    font-weight: 300;
    text-align: center;
    font-size: 18px;
}
.main_grid {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.country1 h3{
    margin-top: 10px;
}
.country2 h3{
    margin-top: 10px;
}
.country3 h3{
    /* margin-left: 10px; */
    margin-top: 10px;
}

.country1 img{
    width: 350px;
    border-radius: 10px;
}
.country2 img{
    width: 350px;
    border-radius: 10px;
}
.country3 img{
    width: 350px;
    border-radius: 10px;
}

.para{
    width: 300px;
    text-decoration: justify;
    font-weight: 300;
}

/* styling offers */
.offers{
    margin-top: 100px;
}
.offer_text{
    text-align: center;
    font-size: 56px;
}
.para2{
    font-weight: 300;
    text-align: center;
    font-size: 18px;
}

.offer1 img{
    width: 350px;
    border-radius: 10px;
}
.offer2 img{
    width: 350px;
    border-radius: 10px;
    height: 235px;
}
.offer3 img{
    width: 350px;
    border-radius: 10px;
}
.offer1 h3, .offer2 h3, .offer3 h3{
    margin-top: 10px;
}
.vmore{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    background-color: #FA7070;
}
.spn{
    color: #FB6D48;
}
.spn1{
    color: #FF204E;
}
/* applying animations */
@keyframes fade{
    0% {
        opacity: 0
    }
    50% {
        opacity: 1;
    }
}

.country1, .country2, .country3 {
    animation: fade ease-in;
    animation-timeline: view();
}

@keyframes scale {
    from {
        scale: 1;
    }
    to {
        scale: 1.5;
    }
}

.hover-img:hover {
    animation: scale ease-in-out forward 1s;
}